<a href="https://colab.research.google.com/github/alexlattari/computacao-grafica/blob/master/Trabalho_Final_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [8]:
dataset_treino = pd.read_csv('horse.csv')
dataset_teste = pd.read_csv('horseTest.csv')

In [6]:
dataset_treino.head()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no

In [9]:
dataset_teste.shape

(89, 28)

In [12]:
faltantes = dataset_treino.isnull().sum()
faltantes

surgery                    0
age                        0
hospital_number            0
rectal_temp               60
pulse                     24
respiratory_rate          58
temp_of_extremities       56
peripheral_pulse          69
mucous_membrane           47
capillary_refill_time     32
pain                      55
peristalsis               44
abdominal_distention      56
nasogastric_tube         104
nasogastric_reflux       106
nasogastric_reflux_ph    246
rectal_exam_feces        102
abdomen                  118
packed_cell_volume        29
total_protein             33
abdomo_appearance        165
abdomo_protein           198
outcome                    0
surgical_lesion            0
lesion_1                   0
lesion_2                   0
lesion_3                   0
cp_data                    0
dtype: int64

In [15]:
faltantes_percentual = dataset_treino.isnull().sum() / len(dataset_treino['surgery'])
print(faltantes_percentual)

surgery                  0.000000
age                      0.000000
hospital_number          0.000000
rectal_temp              0.200669
pulse                    0.080268
respiratory_rate         0.193980
temp_of_extremities      0.187291
peripheral_pulse         0.230769
mucous_membrane          0.157191
capillary_refill_time    0.107023
pain                     0.183946
peristalsis              0.147157
abdominal_distention     0.187291
nasogastric_tube         0.347826
nasogastric_reflux       0.354515
nasogastric_reflux_ph    0.822742
rectal_exam_feces        0.341137
abdomen                  0.394649
packed_cell_volume       0.096990
total_protein            0.110368
abdomo_appearance        0.551839
abdomo_protein           0.662207
outcome                  0.000000
surgical_lesion          0.000000
lesion_1                 0.000000
lesion_2                 0.000000
lesion_3                 0.000000
cp_data                  0.000000
dtype: float64

In [16]:
dataset_treino['outcome'].value_counts()

lived         178
died           77
euthanized     44
Name: outcome, dtype: int64

In [17]:
dataset_teste['outcome'].value_counts()

lived         53
died          23
euthanized    13
Name: outcome, dtype: int64

In [33]:
dataTreino = dataset_treino.drop('hospital_number', axis=1)
dataTeste = dataset_teste.drop('hospital_number', axis=1)

In [38]:
dataset_treino.dtypes

surgery                   object
age                       object
hospital_number            int64
rectal_temp              float64
pulse                    float64
respiratory_rate         float64
temp_of_extremities       object
peripheral_pulse          object
mucous_membrane           object
capillary_refill_time     object
pain                      object
peristalsis               object
abdominal_distention      object
nasogastric_tube          object
nasogastric_reflux        object
nasogastric_reflux_ph    float64
rectal_exam_feces         object
abdomen                   object
packed_cell_volume       float64
total_protein            float64
abdomo_appearance         object
abdomo_protein           float64
outcome                   object
surgical_lesion           object
lesion_1                   int64
lesion_2                   int64
lesion_3                   int64
cp_data                   object
dtype: object

In [24]:
dataTreino['surgery'].value_counts()

yes    180
no     119
Name: surgery, dtype: int64

In [34]:
dataTreino['surgery'] = dataTreino['surgery'].replace('yes',1)
dataTreino['surgery'] = dataTreino['surgery'].replace('no',0)

In [25]:
dataTreino['age'].value_counts()

adult    275
young     24
Name: age, dtype: int64

In [35]:
dataTreino['age'] = dataTreino['age'].replace('adult',1)
dataTreino['age'] = dataTreino['age'].replace('young',0)

In [26]:
dataTreino['temp_of_extremities'].value_counts()

cool      108
normal     78
warm       30
cold       27
Name: temp_of_extremities, dtype: int64

In [36]:
temp_of_extremities_encode = pd.get_dummies(dataTreino['temp_of_extremities'])
dataTreino.drop('temp_of_extremities', axis=1, inplace=True)
dataTreino = pd.concat([dataTreino, temp_of_extremities_encode],axis=1)
dataTreino.head(3)

,surgery,age,rectal_temp,pulse,respiratory_rate,peripheral_pulse,mucous_membrane,capillary_refill_time,pain,peristalsis,...,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data,cold,cool,normal,warm
0,0,1,38.5,66.0,28.0,reduced,NaN,more_3_sec,extreme_pain,absent,...,died,no,11300,0,0,no,0,1,0,0
1,1,1,39.2,88.0,20.0,NaN,pale_cyanotic,less_3_sec,mild_pain,absent,...,euthanized,no,2208,0,0,no,0,0,0,0
2,0,1,38.3,40.0,24.0,normal,pale_pink,less_3_sec,mild_pain,hypomotile,...,lived,no,0,0,0,yes,0,0,1,0

In [42]:
dataTreino['peripheral_pulse'].value_counts()

normal       114
reduced      103
absent         8
increased      5
Name: peripheral_pulse, dtype: int64

In [43]:
peripheral_pulse_encode = pd.get_dummies(dataTreino['peripheral_pulse'])
dataTreino.drop('peripheral_pulse', axis=1, inplace=True)
dataTreino = pd.concat([dataTreino, peripheral_pulse_encode],axis=1)

In [39]:
dataset_treino['mucous_membrane'].value_counts()

normal_pink      79
pale_pink        57
pale_cyanotic    41
bright_pink      30
bright_red       25
dark_cyanotic    20
Name: mucous_membrane, dtype: int64

In [44]:
mucous_membrane_encode = pd.get_dummies(dataTreino['mucous_membrane'])
dataTreino.drop('mucous_membrane', axis=1, inplace=True)
dataTreino = pd.concat([dataTreino, mucous_membrane_encode],axis=1)

In [41]:
dataTreino.dtypes

surgery                    int64
age                        int64
rectal_temp              float64
pulse                    float64
respiratory_rate         float64
peripheral_pulse          object
mucous_membrane           object
capillary_refill_time     object
pain                      object
peristalsis               object
abdominal_distention      object
nasogastric_tube          object
nasogastric_reflux        object
nasogastric_reflux_ph    float64
rectal_exam_feces         object
abdomen                   object
packed_cell_volume       float64
total_protein            float64
abdomo_appearance         object
abdomo_protein           float64
outcome                   object
surgical_lesion           object
lesion_1                   int64
lesion_2                   int64
lesion_3                   int64
cp_data                   object
cold                       uint8
cool                       uint8
normal                     uint8
warm                       uint8
dtype: object